<app-topbar></app-topbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened><app-sidebar></app-sidebar></mat-sidenav>
  <mat-sidenav-content>
    <div class="section">
      <h2>Discussion</h2>
      <div class="card-list">
        <app-card-room *ngFor="let room of rooms"></app-card-room>
      </div>
    </div>
    <div class="section">
      <h2>Event</h2>
      <div class="card-list">
        <app-card-event *ngFor="let event of events" [label]="event.label"></app-card-event>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
